/* Стилі для кастомних блоків Mermaid */
.mermaid .redBlock rect {
  fill: #ff4c4c !important;
  stroke: #ff0000 !important;
  stroke-width: 2px !important;
}

.mermaid .blueBlock rect {
  fill: #4cafff !important;
  stroke: #007acc !important;
  stroke-width: 2px !important;
}

.mermaid .thickEdge path {
  stroke-width: 3px !important;
  stroke: orange !important;
}
