<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
<style>
  body { text-align: center; padding: 50px; font: 20px Helvetica, sans-serif; color: #eee; background-color: #000; max-width: 800px; }
  h1 { font-size: 20px; color: #fff; }
  pre.mermaid { background-color: #1a1a1a; padding: 1rem; border-radius: 8px; overflow-x: auto; color: #eee; border: 1px solid #333; }
</style>
</head>
<body>

<link rel="stylesheet" href="/assets/css/mermaid-custom.css">

  {{ content }}

  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
      startOnLoad: true,
      theme: 'dark'
    });

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll('a').forEach(a => a.setAttribute('target', '_blank'));
    });
  </script>

</body>
</html>
